body
{
background-color: red;
}

header
{
background-color: green;
}

main
{
background-color: orange;
}

section
{
background-color: yellow;
}

aside
{
background-color: blue;
}

article
{
background-color: purple;
}
