form{
    background-color: aquamarine;
    width: 500px;
    margin-right: 500px;
    margin-left: 50px;
    }

.reg
{
    background-color: blue;
}

.regfont
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 16px;
color: rgb(248, 9, 57);
font-weight: bold;
}

main>h1
{
    width: 500px;
    margin-right: 500px;
    margin-left: 50px;
}
footer>p 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bolder;
}
header>h1
{
    width: 500px;
    margin-right: 500px;
    margin-left: 50px;
}
header
{
    color: red;
}