main
{
    border: 100px;
    border-width: 200px;
}
.container
{
    border-left: 500px;
    border-right: 500px;
}
div
{
    background-color: cornsilk;
    text-align: justify;
}

.grid
{
    border: 1px solid black;
    background-color: lightblue;
    text-align: center;
    border-left: 30px;
}

h1
{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
position: 
}

.centermagin
{
margin: 400px;
margin-left: 200px;
margin-right: 200px;
border-color: black;
}

